colors = json('./colors.json', { hash: true });
//
//$background-color = colors.white;
//
//$primary-color = colors.primary;
//$primary-light-color = lighten($primary-color, 10%);
//$primary-dark-color = darken($primary-color, 10%);
//$primary-text-color = colors.white;

//.bg-{color}
//.{color}
for name, color in colors {
  .{name} { color: color; }
  .bg-{name} { background-color: color; }
}

for num in (0..64) {
  .p{num} { padding: unit(num, 'px') }
  .m{num} { margin: unit(num, 'px') }
  .mt{num} { margin-top: unit(num, 'px') }
  .mb{num} { margin-bottom: unit(num, 'px') }
  .ml{num} { margin-left: unit(num, 'px') }
  .mr{num} { margin-right: unit(num, 'px') }
  .pt{num} { padding-top: unit(num, 'px') }
  .pb{num} { padding-bottom: unit(num, 'px') }
  .pl{num} { padding-left: unit(num, 'px') }
  .pr{num} { padding-right: unit(num, 'px') }

  .ph{num} {
    padding-left: unit(num, 'px')
    padding-right: unit(num, 'px')
  }

  .pv{num} {
    padding-top: unit(num, 'px')
    padding-bottom: unit(num, 'px')
  }

  .mh{num} {
    margin-left: unit(num, 'px')
    margin-right: unit(num, 'px')
  }

  .mv{num} {
    margin-top: unit(num, 'px')
    margin-bottom: unit(num, 'px')
  }
}

.compacted, .flex {
  flex: 1;
}

.flexGrow {
  flex-grow: 1;
}

for num in (1..12) {
  .flex-{num} {
    flex: num;
  }
}

.center {
  align-items: center;
  justify-content: center;
}

.row {
  flex-direction: row;
}
