@import 'styles/implement.styl';

.ItemRow {
  flex-direction: row;
  background-color: white;

  align-items: center;
  justify-content: flex-start;

  padding: 0 15px;

  &Separator {
    height: 1px;
    background-color: #eeeeee;
  }

  &Image {
    width: 44px;
    height: 44px;
  }

  &Badge {
    align-items: center;
    justify-content: center;
    padding: 2px 7px;
    margin: 0 3px 3px 0;
    border-radius: 7px;
    background-color: #ccc8c9;

    &Text {
      @extend .text12, .medium;
      color: white;
    }
  }
}
