@import 'styles/implement.styl';

.DataTable {
  &Label {
    align-items: center;

    border-top-width: 1px;
    border-top-color: #EEEEEE;

    &Text {
      @extend .text13, .regular, .caption;
    }
  }

  &Value {
    padding: 12px 0;
    align-items: center;

    border-top-width: 1px;
    border-top-color: #EEEEEE;

    &Text {
      @extend .text15, .medium, .numeric;
    }
  }
}

.ItemRow {
  padding: 15px;
  background-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-color: #EEEEEE;

  &Title {
    &Text {
      @extend .text15, .medium;
    }
  }

  &Subtitle {
    padding-left: 2px

    &Text {
      @extend .text13, .regular, .caption;
    }
  }
}
