@import 'styles/implement.styl';

.Badge {
  align-items: center;
  justify-content: center;
  padding: 2px 7px;
  margin: 0 3px 3px 0;
  border-radius: 7px;
  background-color: #ccc8c9;

  &Text {
    @extend .text12, .medium;
    color: white;
  }
}
