@import 'styles/implement.styl';

.underline {
  border-bottom-width: 1px;
  border-bottom-color: #EEEEEE;
}

.Welcome {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  margin: 25px 0 10px;
}

.Heading {
  &Text {
    @extend .text19, .medium
  }
}

.LinkingAccount {
  height: 85px;
  align-items: center;
  justify-content: center;

  &CaptionText {
    @extend .text13, .regular, .caption;
  }

  &Text {
    @extend .text21, .medium, .numeric;
  }
}

.DataTable {
  &Label {
    padding: 6px 6px 0;

    &Text {
      @extend .text13, .regular, .caption;
    }
  }

  &Value {
    padding: 3px 15px 6px 0;

    &Text {
      @extend .text15, .medium, .numeric;
    }
  }
}

.Transaction {
  &EmptyList {
    flex-grow: 1;
    min-height: 300px;

    align-items: center;
    justify-content: center;
  }

  &ItemRow {

  }
}

.Transaction {
  &Label {
    align-items: center;

    border-top-width: 1px;
    border-top-color: #EEEEEE;

    &Text {
      @extend .text13, .regular, .caption;
    }
  }

  &Value {
    padding: 12px 0;
    align-items: center;

    border-top-width: 1px;
    border-top-color: #EEEEEE;

    &Text {
      @extend .text15, .medium, .numeric;
    }
  }
}
